<input type="text" #input1 (keyup)="0">
<table>
<thead>
  <th>ID</th>
    <th>Name</th>
</thead>

<!--<tr *ngFor="let item of arrtask | filter : input1.value">
   <td>{{item.id}}</td>
   <td>{{item.name}}</td> 
   <td><button (click)="ondelete(item)">Delete</button></td>
</tr>-->

<tr *ngFor="let item of arrtask">
   <td>{{item.id}}</td>
   <td>{{item.name}}</td> 
   <td><button (click)="ondelete(item)">Delete</button></td>
</tr>
<input type="text" [(ngModel)]="id">
<input type="text" [(ngModel)]="name">

<button (click)="onadd()">ADD</button>
<br><br>
<input type="text" [(ngModel)]="num1">
<h1>{{num1}}</h1>
</table>
